<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="webapp.app1.mapper.UserMapper">
    <select id="selectUser" resultType="webapp.app1.mapper.User">
        select * from manage_user2
    </select>
    <update id="updateUser">
        update manage_user set date_create = now() where id = 27
    </update>

    <update id="updateUserV2">
        update manage_user set user_name = '陈龙2' where id = 27
    </update>
</mapper>